/* ======= Responsive ======= */
@media (max-width: 1200px) {
    .login-container {
        width: 450px;
        padding: 20px 25px;
    }

    .login .login-logo .logo img {
        width: 200px;
        height: auto;
    }
    .number-validate input {
        max-width: 70px;
    }
}

@media (max-width: 992px) {
    .login {
        flex-direction: column-reverse;
        gap: 30px;
        height: auto;
        padding: 50px 0;
    }
    .login-container {
        width: 400px;
        padding: 20px;
        margin-top: 50px;
    }

    .login .login-logo .logo img {
        width: 180px;
        height: auto;
    }

    .login .login-logo .logo-title h2 {
        font-size: 28px;
    }
    .number-validate input {
        width: 60px;
    }
}

@media (max-width: 768px) {

    .login .login-logo .logo img {
        width: 120px;
    }

    .login .login-logo .logo-title h2 {
        font-size: 22px;
    }

}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
    .login-container .logo {
        width: 70px;
        height: 70px;
    }
    .login-container .logo-title h3{
        font-weight: 600;
        font-size: 20px;
    }
    .login-container h2 {
        font-size: 18px;
        font-weight: 500;
    }
    .login .login-container .logo-desc h6{
        font-size: 22px;
    }
    .login .login-logo .logo img {
        width: 100px;
    }

    .login .login-logo .logo-title h2 {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 12px;
        padding: 8px;
    }

    button {
        font-size: 14px;
    }
    .number-validate {
        gap: 0;
    }
    .number-validate input {
        width: 45px;
        height: 25px;
        font-size: 15px;
    }
}
@media (max-width:320px) {
    .number-validate input {
        width: 35px;
    }
}

/* resposive login end */

/* resposive help center */
@media (max-width: 768px) {
    .inquiries .top-btn{
        padding: 20px 0 0 25px ;
    }
    .inquiries .contact-support .contact-support-box{
        justify-content: center;
        flex-direction: column; 
        align-items: center;
    }
    .inquiries .contact-support .contact-support-text h2{
        font-size: 18px;
        font-weight: 600;
    }
    .inquiries .contact-support .contact-support-text p{
        font-size: 16px;
        font-weight: 500;
    }
}
@media (max-width: 425px) {
    .inquiries .nav {
        gap: 10px;
        padding: 16px 0 0 0;
    }

    .inquiries .nav .nav-item:has(.nav-link.active) {
        padding: 5px 15px;
    }

    .inquiry-header {
        justify-content: end;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }
    .inquiries .row-container {
        padding: 15px;
    }
}
@media (max-width: 325px) {
    .inquiries .nav {
        gap: 5px;
        padding: 16px 0 0 0;
    }

    .inquiries .nav .nav-item:has(.nav-link.active) {
        padding: 5px;
    }
}
/* resposive help center end */




/* help-center-employee */
@media (max-width: 1024px) {
    .help-center .banner .banner-content{
        padding: 25px ;
        width: 80%;
    } 
    .help-center .banner .banner-content .banner-heading{
        font-size: 24px;
        font-weight: 600;
    }
    .help-center .banner .banner-content .search-container input {
        padding: 0 35px;
        font-size: 14px;
    }
    .help-center .banner .banner-content .search-icon{
        font-size: 14px;
    }
    .help-center .banner .banner-content .search-btn {
        font-size: 14px !important;
    }
    
    /* faq */
    .help-center-contact .tab-content .tab-pane .faq .faq-item .faq-question {
        font-size: 14px;
        font-weight: 600;
    }
    
    .help-center-contact .tab-content .tab-pane .faq-answer {
        font-size: 12px;
    }
    
    /* faq end */
    /* contact-form */
    .help-center-contact .tab-content .tab-pane .contact-form {
        max-width: 90%;
    }
    /* contact-form end */
}
/* help-center end */
@media (max-width: 425px) {
    .help-center-contact .nav .nav-item .nav-link{
        font-size: 14px;
        font-weight: 600;
    }
}