/* fonts */

/* fonts end */


:root {
    --color-white: #fff;
    --color-black: #000;
    --main-color: #003200;
    --second-color: #F78F35;
    --text-color: #323232;
    --main-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}

body {
    font-family: "Kufam", sans-serif;
    direction: rtl;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
section.login {
    min-height: 100vh;
    position: relative;
    background-image: url(../imgs/Login.png);
    background-repeat: no-repeat;
    background-position: center;
    
    /* background: 
    linear-gradient(
        to bottom right,
        rgba(22, 148, 0, 0.9),
        rgba(34, 209, 0, 0.3),
        rgba(22, 148, 0, 0.9)
        ); */
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4%;
        z-index: 3;
    }
.main-login{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.main-login::before {
    width: 5000px;
    height: 2000px;
    content: "";
    position: absolute;
    inset: -25%;

    background: url('../imgs/Group\ 1686551373.svg');
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.02;

    /* transform-origin: center; */
    /* animation: kenBurnsRotate 30s ease-in-out infinite; */
}

@keyframes kenBurnsRotate {
    0% {
        background-position: 15% 30%;
    }

    50% {
        background-position: 55% 65%;
    }

    100% {
        background-position: 100% ;
    }
}

/* .login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
.login .login-logo{
    width: 48%;
    max-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.login .login-logo .logo img{
    width: 236px;
    height: 220px;
}
.login .login-logo .logo-title ,
.login .login-container .logo-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.login .login-logo .logo-title h2{
    font-family: Codec Pro;
    font-weight: 600;
    font-style: Bold;
    font-size: 32px;
    color: var(--color-white);
}
.login .login-container .logo-desc h6{
    font-weight: 600;
    font-size: 26px;
    color: #003200;
}
.login .login-container .logo-desc p{
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}
.login-container {
    width: 48%;
    max-width: 550px;
    background: var(--color-white);
    padding: 25px 35px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
.login-container form {
    width: 100%;
}
.login-container .logo {
    width: 97px;
    height: 90px;
}

.login-container .logo-title h3{
    font-family: Codec Pro;
    font-weight: 600;
    font-style: ExtraBold;
    font-size: 24px;
    text-align: center;
    color: #003200;
}

.login-container h2 {
    color: #003200;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.button-group{
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.required {
    color: red;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.toggle-password {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #BDBDBD;
}

.button {
    padding: 10px 50px;
    background-color: #3BD132;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.button a{
    color: #fff;
}

.button:hover {
    background-color: #159400;
}
.form-group .forgot-password {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #27C840;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.form-group .forgot-password:hover {
    text-decoration: underline;
}
.login-container form .back{
    font-weight: 500;
    font-size: 12px;
    color: #3BD132;
    text-decoration: none;
}

.number-validate {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 480px;
    margin: 8px auto;
}

.number-validate input {
    max-width: 80px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

.number-validate input:focus {
    border-color: #22D100;
    box-shadow: 0 0 5px rgba(34, 209, 0, 0.5);
    outline: none;
}