/* fonts */

/* fonts end */


:root {
    --color-white: #fff;
    --color-black: #000;
    --main-color: #003200;
    --second-color: #F78F35;
    --text-color: #323232;
    --main-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}

body {
    font-family: "Kufam", sans-serif;
    direction: rtl;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
section.login {
    min-height: 100vh;
    position: relative;
    background-image: url(../imgs/Login.png);
    background-repeat: no-repeat;
    background-position: center;
    
    /* background: 
    linear-gradient(
        to bottom right,
        rgba(22, 148, 0, 0.9),
        rgba(34, 209, 0, 0.3),
        rgba(22, 148, 0, 0.9)
        ); */
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4%;
        z-index: 3;
    }
.main-login{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.main-login::before {
    width: 5000px;
    height: 2000px;
    content: "";
    position: absolute;
    inset: -25%;

    background: url('../imgs/Group\ 1686551373.svg');
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.02;

    /* transform-origin: center; */
    /* animation: kenBurnsRotate 30s ease-in-out infinite; */
}

@keyframes kenBurnsRotate {
    0% {
        background-position: 15% 30%;
    }

    50% {
        background-position: 55% 65%;
    }

    100% {
        background-position: 100% ;
    }
}

/* .login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
.login .login-logo{
    width: 48%;
    max-width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.login .login-logo .logo img{
    width: 236px;
    height: 220px;
}
.login .login-logo .logo-title ,
.login .login-container .logo-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.login .login-logo .logo-title h2{
    font-family: Codec Pro;
    font-weight: 600;
    font-style: Bold;
    font-size: 32px;
    color: var(--color-white);
}
.login .login-container .logo-desc h6{
    font-weight: 600;
    font-size: 26px;
    color: #003200;
}
.login .login-container .logo-desc p{
    font-size: 12px;
    font-weight: 500;
    color: #616161;
}
.login-container {
    width: 48%;
    max-width: 550px;
    background: var(--color-white);
    padding: 25px 35px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
.login-container form {
    width: 100%;
}
.login-container .logo {
    width: 97px;
    height: 90px;
}

.login-container .logo-title h3{
    font-family: Codec Pro;
    font-weight: 600;
    font-style: ExtraBold;
    font-size: 24px;
    text-align: center;
    color: #003200;
}

.login-container h2 {
    color: #003200;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.button-group{
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.required {
    color: red;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.toggle-password {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #BDBDBD;
}

.button {
    padding: 10px 50px;
    background-color: #3BD132;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.button a{
    color: #fff;
}

.button:hover {
    background-color: #159400;
}
.form-group .forgot-password {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #27C840;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.form-group .forgot-password:hover {
    text-decoration: underline;
}
.login-container form .back{
    font-weight: 500;
    font-size: 12px;
    color: #3BD132;
    text-decoration: none;
}

.number-validate {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 480px;
    margin: 8px auto;
}

.number-validate input {
    max-width: 80px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}

.number-validate input:focus {
    border-color: #22D100;
    box-shadow: 0 0 5px rgba(34, 209, 0, 0.5);
    outline: none;
}


/* help center */

.inquiries .nav {
    gap: 20px;
    align-items: center;
    border: 0;
    padding: 26px 0 0 0;
}

.inquiries .nav .nav-item:has(.nav-link.active) {
    border-top: 2px solid #38D430;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #fff;
    padding: 5px 35px;
}
.inquiries .nav .nav-item .nav-link{
    color: #A2A2A2;
    border: 0px;
}
.inquiries .nav .nav-item .nav-link.active{
    color: #38D430;
}
.inquiries .tab-content .tab-pane{
    background: #fff;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

/* tab inquirue  */
.inquiries .row-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.inquiry-card {
    border: 1px solid #38D430;
    border-radius: 16px;
    direction: ltr;
    width: 100%;
    margin-top: 20px;
}
/* .tab-content>.active{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.inquiry-header {
    background: #38D430;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 15px;
    font-size: 14px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.inquiry-header > div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.inquiry-body {
    padding: 15px 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inquiry-body p {
    color: #707070;
    font-size: 14px;
}

.inquiries .inquiry-card  .main_btn:hover{
    background: #159400 !important;
}


/* tab inquirue  */

/* tap inquirue asking */
.inquiries .top-btn{
    padding: 30px 25px;
    display: flex;
    justify-content: end;
}
.inquiries .top-btn button{
    padding: 0 25px;
    border-radius: 8px;
    text-align: center;
}
.inquiries .top-btn button i{
    margin-right: 5px;
}
.inquiries .contact-support{
    padding-bottom: 10px;
}
.inquiries .contact-support .contact-support-box{
    width: 95%;
    margin: 20px auto;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: start;
    cursor: pointer;
}
.inquiries .contact-support .contact-support-text ,
.inquiries .contact-support .contact-support-btn {
    padding: 10px 0 20px 0 ;
}
.inquiries .contact-support .contact-support-text p{
    padding-top: 15px;
}



/* tap inquirue asking end */


/* pop-up model */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-overlay .modal-content {
    position: relative;
    background: #fff;
    padding: 25px;
    width: 80%;
    max-width: 400px;
    border-radius: 12px;
    z-index: 10000;
    gap: 15px;
    animation: scaleUp 0.3s ease;
}

.modal-content h3 {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #BDBDBD;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    outline: none;
}

.modal-content textarea {
    resize: none;
    height: 100px;
}
.submit-btn {
    width: 50%;
    margin: 10px auto 0;
    padding: 10px;
    background: #38d430;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #BDBDBD;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* pop-up model end */
/* help center end */